/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 43.5%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  padding: 3rem;
  margin: auto; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

::selection {
  background-color: #a03232;
  color: #ffffff; }

header {
  width: 100vw;
  margin: -3rem -3rem; }

body {
  font-family: "Libre Caslon Text", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #000000;
  box-sizing: border-box;
  padding: 3rem; }

a {
  text-decoration: none; }

.heading-primary {
  color: #ffffff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    /*
      animation-delay: 3s;
      animation-iteration-count: 3;
      */ }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--main {
        letter-spacing: 1rem;
        font-family: 5rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation: moveInRight 1s ease-out; }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--sub {
        letter-spacing: 0.5rem; } }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #c86f5e, #a03232);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.2s; }
  @media only screen and (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.5rem; } }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 6.4rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.hero {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  width: 60%;
  margin: 20% auto 30% auto; }
  .hero__header {
    font-size: 6.4rem;
    color: #a03232;
    text-align: center;
    padding-bottom: 0.5rem; }
    @media only screen and (max-width: 56.25em) {
      .hero__header {
        font-size: 9rem; } }
    @media only screen and (max-width: 37.5em) {
      .hero__header {
        margin: auto 0;
        font-size: 6.4rem; } }
  .hero__break {
    border: 0.1rem solid #a03232;
    color: #a03232;
    max-width: 100%; }
  .hero__sub {
    font-size: 3.2rem;
    color: #a03232;
    text-align: center;
    padding-top: 0.5rem; }
  .hero__button {
    justify-self: center; }

form {
  text-align: center; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  background-color: #a03232;
  color: #fffeb8;
  font-size: 1.6rem;
  width: 30%;
  margin: 3rem auto;
  border: none;
  cursor: pointer; }
  @media only screen and (max-width: 37.5em) {
    .btn, .btn:link, .btn:visited {
      width: 100%; } }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.pitch {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 8rem; }
  @media only screen and (max-width: 75em) {
    .pitch {
      flex-direction: column;
      align-items: center; } }
  .pitch__content {
    display: flex;
    flex-direction: column;
    padding: 5rem; }
  .pitch__img {
    padding: 1rem;
    max-width: 50%;
    border: 0.1rem solid #000000;
    -webkit-box-shadow: 8px 9px 12px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 8px 9px 12px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 8px 9px 12px -5px rgba(0, 0, 0, 0.75);
    margin: 2rem; }
    @media only screen and (max-width: 37.5em) {
      .pitch__img {
        padding: 0.5rem;
        -webkit-transform: scale(2); } }
  .pitch__header {
    margin: auto 2rem;
    color: #a03232;
    font-size: 6.4rem; }
    @media only screen and (max-width: 56.25em) {
      .pitch__header {
        text-align: center;
        padding-top: 10rem; } }
  .pitch__paragraph {
    margin: auto 2rem;
    font-size: 1.6rem;
    color: #a03232;
    width: 100%;
    font-family: sans-serif; }
    @media only screen and (max-width: 56.25em) {
      .pitch__paragraph {
        margin: 1rem auto;
        font-size: 3.2rem; } }

.parallax {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: linear-gradient(to right bottom, rgba(255, 254, 184, 0.8), rgba(230, 192, 115, 0.8)), url("../../img/Interior-1.jpeg");
  margin-bottom: 0; }
  @media only screen and (max-width: 56.25em) {
    .parallax {
      min-width: 90vw; } }
  @media only screen and (max-width: 37.5em) {
    .parallax {
      background-image: linear-gradient(to right bottom, rgba(255, 254, 184, 0.8), rgba(230, 192, 115, 0.8)); } }
  .parallax--bg-fixed {
    min-height: 100vh;
    background-attachment: fixed; }
  .parallax__info {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    text-align: center;
    margin: 10rem auto;
    color: #a03232;
    width: 60%; }
    @media only screen and (max-width: 37.5em) {
      .parallax__info {
        width: 100%; } }
  .parallax__heading {
    font-size: 6.4rem; }
    @media only screen and (max-width: 56.25em) {
      .parallax__heading {
        margin: 5rem 2rem; } }
  .parallax__content {
    font-family: sans-serif; }
    @media only screen and (max-width: 56.25em) {
      .parallax__content {
        font-size: 3.2rem; } }
  .parallax__pictures {
    margin-top: 1rem; }
  .parallax__btn {
    width: 100%; }

.composition {
  position: relative;
  max-width: 50%; }
  .composition__photo {
    max-width: 30%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all 0.2s;
    outline-offset: 2rem; }
    @media only screen and (max-width: 56.25em) {
      .composition__photo {
        float: left;
        position: relative;
        width: 33.33333333%;
        box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2); } }
    @media only screen and (max-width: 37.5em) {
      .composition__photo {
        display: none; } }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
      @media only screen and (max-width: 56.25em) {
        .composition__photo--p1 {
          top: 0;
          transform: scale(1.2); } }
    .composition__photo--p2 {
      right: 1rem;
      top: 2rem; }
      @media only screen and (max-width: 56.25em) {
        .composition__photo--p2 {
          top: -1rem;
          transform: scale(1.3);
          z-index: 90; } }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
      @media only screen and (max-width: 56.25em) {
        .composition__photo--p3 {
          top: 1rem;
          left: 0;
          transform: scale(1.1); } }
    .composition__photo:hover {
      outline: 1.5rem solid #a03232;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.gift-ideas {
  display: flex;
  max-width: 100%;
  background-color: #f5f5f5;
  margin: 0 auto;
  flex-direction: column;
  padding: 1rem 15rem 7rem; }
  .gift-ideas__header {
    margin-top: 10rem;
    margin-bottom: 3rem;
    font-size: 6.4rem;
    color: #a03232;
    text-align: center;
    padding: 3rem; }
  .gift-ideas__box {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr)); }
  @media only screen and (max-width: 37.5em) {
    .gift-ideas {
      padding: 0; } }

.gift-idea,
.gift-idea a {
  float: left;
  width: 33.3333%;
  margin-bottom: 6rem;
  grid-template-columns: repeat(auto-fit, 1fr);
  display: grid;
  grid-row-gap: 1.5rem;
  grid-column-gap: 2.5rem;
  padding: 2rem;
  cursor: default; }
  @supports (display: grid) {
    .gift-idea,
    .gift-idea a {
      width: auto;
      margin-bottom: 0; } }
  @media only screen and (max-width: 37.5em) {
    .gift-idea,
    .gift-idea a {
      align-self: center; } }
  .gift-idea__icon,
  .gift-idea a__icon {
    color: #a03232;
    font-size: 7.5rem;
    grid-row: 1 / span 1;
    transform: translateY(-1rem);
    margin: 0 auto;
    cursor: default; }
  .gift-idea__text,
  .gift-idea a__text {
    font-size: 1.6rem;
    text-align: center;
    color: #a03232;
    text-decoration: none;
    font-family: sans-serif;
    cursor: default; }
    @media only screen and (max-width: 37.5em) {
      .gift-idea__text,
      .gift-idea a__text {
        font-size: 2rem; } }
  .gift-idea__heading,
  .gift-idea a__heading {
    color: #a03232;
    font-size: 3.2rem;
    text-align: center;
    padding: 0.5rem;
    cursor: pointer; }

.contact {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  height: 100vh;
  background-image: linear-gradient(to right bottom, rgba(255, 254, 184, 0.8), rgba(230, 192, 115, 0.8));
  background-size: cover;
  background-position: top; }
  .contact__content {
    display: flex;
    justify-content: center;
    height: 75vh;
    flex-direction: row;
    padding-bottom: 5rem;
    margin-bottom: 5rem;
    align-items: center; }
    @media only screen and (max-width: 56.25em) {
      .contact__content {
        flex-direction: column; } }
  .contact__heading {
    width: 100%;
    text-align: center;
    font-size: 6.4rem;
    color: #a03232;
    margin: 1rem auto; }
  .contact__image {
    width: 50%; }
    @media only screen and (max-width: 56.25em) {
      .contact__image {
        width: 100%;
        transform: scale(0.6); } }
    .contact__image--map {
      border: 1rem solid #a03232;
      width: 100%;
      transform: scale(0.8); }
      @media only screen and (max-width: 56.25em) {
        .contact__image--map {
          margin: 1rem auto 0; } }
  .contact__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding: 2rem;
    margin: 2rem auto;
    font-size: 1.6rem;
    text-align: left;
    line-height: 3.5rem;
    font-family: sans-serif; }
    .contact__info ul {
      list-style: none; }
    .contact__info span {
      color: #a03232;
      text-decoration: underline; }
    @media only screen and (max-width: 56.25em) {
      .contact__info {
        width: 80%;
        font-size: 3.2rem;
        line-height: 4rem;
        text-align: center;
        padding: 1rem;
        margin-bottom: 1rem; } }
    @media only screen and (max-width: 37.5em) {
      .contact__info {
        width: 100%;
        margin-top: 2rem;
        font-size: 1.6rem;
        padding: 1rem;
        text-align: center; } }
    .contact__info--hours {
      list-style: none;
      padding: 1rem 0; }
    .contact__info--icon {
      color: #a03232;
      font-size: 4rem;
      padding: 1rem; }
    .contact__info--facebook {
      width: 100%;
      display: flex;
      flex-direction: row;
      color: #a03232;
      line-height: 2.5rem;
      align-content: center;
      margin: 0 auto;
      padding: 1rem 5rem; }
      .contact__info--facebook p {
        align-self: center; }

.about {
  margin-top: 4rem;
  display: inline-flex;
  justify-content: center;
  align-content: center;
  flex-direction: column; }
  .about__heading {
    font-size: 6.4rem;
    color: #a03232;
    padding: 4rem;
    text-align: center; }
  .about__image {
    border: 1px solid #000000;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    align-self: center;
    padding: 2rem;
    width: 50%; }
    @media only screen and (max-width: 37.5em) {
      .about__image {
        padding: 0.5rem;
        scale: 1.5;
        margin-bottom: 1.5rem; } }
  .about__content {
    padding: 3rem;
    align-self: center;
    font-size: 2rem;
    width: 80%;
    text-align: center;
    color: #a03232;
    font-family: sans-serif; }
    @media only screen and (max-width: 37.5em) {
      .about__content {
        padding: 5rem; } }

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.1s; }
  @supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
    .popup {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      background-color: rgba(0, 0, 0, 0.3); } }
  .popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    max-width: 80vw;
    max-height: 90vh;
    background-color: #a03232;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.25);
    transition: all 0.5s 0.2s; }
    @media only screen and (max-width: 56.25em) {
      .popup__content {
        width: 100%;
        height: 100%; } }
  .popup__header {
    font-size: 6.4rem;
    color: #fffeb8;
    text-align: center; }
  .popup__text {
    color: #fffeb8;
    font-size: 1.6rem;
    padding: 2rem; }
  .popup__images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap; }
  .popup__image {
    width: 20%;
    border: 0.2rem solid #e6c073;
    margin: 1rem; }
    .popup__image:hover {
      transform: scale(1.5); }
    @media only screen and (max-width: 56.25em) {
      .popup__image {
        width: 25%; }
        .popup__image:hover {
          transform: scale(2); } }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .popup__close:link, .popup__close:visited {
    color: #fffeb8;
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 3rem;
    text-decoration: none;
    display: inline-block;
    transition: all 0.2s;
    line-height: 1; }
  @media only screen and (max-width: 37.5em) {
    .popup__close {
      scale: 2; } }
  .popup__close:hover {
    color: #e6c073; }

.notice {
  display: flex;
  justify-content: center;
  width: 70vw;
  text-align: center;
  margin: 10rem auto;
  border: 0.3rem solid #a03232; }
  .notice__content {
    font-size: 1.6rem; }
    .notice__content--eng {
      padding: 0.5rem;
      width: 50%; }
    .notice__content--frn {
      padding: 0.5rem;
      width: 50%; }
  @media only screen and (max-width: 37.5em) {
    .notice {
      flex-direction: column; }
      .notice__content {
        width: 100%; }
        .notice__content--eng {
          padding: 0.5rem;
          width: 100%; }
        .notice__content--frn {
          padding: 0.5rem;
          width: 100%; } }
  .notice__line {
    border: 0.1rem solid #a03232; }

.gift_baskets {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to right, #a03232, #c86f5e);
  justify-content: center; }
  .gift_baskets__heading {
    font-size: 6.4rem;
    color: #fffeb8;
    text-align: center;
    padding: 5rem; }
  .gift_baskets__paragraph {
    text-align: center;
    color: #fffeb8;
    font-size: 3.2rem;
    font-family: sans-serif;
    font-weight: 200;
    margin: auto 0;
    width: 100%;
    padding: 7rem 5rem; }
  .gift_baskets__cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 1rem; }
    @media only screen and (max-width: 56.25em) {
      .gift_baskets__cards {
        flex-direction: row;
        flex-wrap: wrap; } }
    @media only screen and (max-width: 37.5em) {
      .gift_baskets__cards {
        flex-direction: column; } }
  .gift_baskets__card {
    width: 30%;
    padding: 1rem;
    border: 2px solid #fffeb8;
    border-radius: 10px;
    margin: 1rem; }
    @media only screen and (max-width: 56.25em) {
      .gift_baskets__card {
        width: 45%;
        margin: 1rem auto; } }
    @media only screen and (max-width: 37.5em) {
      .gift_baskets__card {
        width: 90%;
        margin: 1rem auto; } }
    .gift_baskets__card-title {
      color: #fffeb8;
      text-align: center;
      margin: auto 0;
      padding-bottom: 1rem;
      letter-spacing: 0.2rem; }
    .gift_baskets__card-image {
      width: 100%;
      border-radius: 10px; }
    .gift_baskets__card-paragraph {
      width: 100%;
      color: #fffeb8;
      text-align: center; }
      @media only screen and (max-width: 37.5em) {
        .gift_baskets__card-paragraph {
          font-size: 2rem; } }
    .gift_baskets__card-price {
      color: #ffffff;
      text-shadow: 1px 1px #000000;
      text-align: center;
      font-size: 2rem;
      padding-top: 2rem; }

.gallery {
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center; }
  .gallery__heading {
    color: #a03232;
    font-size: 6.4rem;
    text-align: center;
    width: 100%;
    padding: 4rem 2rem;
    margin-top: 10rem; }
  .gallery__subheading {
    color: #a03232;
    font-size: 3.2rem;
    text-align: center;
    width: 90%;
    margin: 2rem auto; }
  .gallery__box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 80vw;
    border: 1px solid #424242;
    border-radius: 10px;
    margin: 4rem auto;
    background-color: #e7e7e7; }
  .gallery__image {
    height: 35rem;
    width: 35rem;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1rem;
    border: 1px solid #a03232;
    margin: 1rem;
    border-radius: 5px;
    transition: all 0.2s; }
    @media only screen and (max-width: 37.5em) {
      .gallery__image {
        width: 100%; } }
    .gallery__image:hover {
      scale: 2; }
      @media only screen and (max-width: 37.5em) {
        .gallery__image:hover {
          scale: 1.2; } }

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
  flex-direction: column;
  background-image: linear-gradient(to bottom, white, rgba(160, 50, 50, 0.8), #a03232);
  width: 100%; }
  .footer__menu {
    width: 50%;
    font-size: 1.6rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: #fffeb8;
    justify-content: space-evenly;
    align-items: center;
    align-content: stretch;
    justify-self: start;
    list-style: none; }
    .footer__menu--item {
      cursor: pointer;
      padding: 1rem; }
      .footer__menu--item:hover {
        text-decoration: underline; }
    .footer__menu a:link,
    .footer__menu a:visited,
    .footer__menu a:active {
      color: #fffeb8; }
  .footer__break {
    border: 1px solid #fffeb8;
    transform: rotate(90deg);
    width: 90rem; }
  .footer__content {
    padding: 2rem;
    color: #fffeb8;
    font-size: 1.6rem;
    text-align: center; }

.row {
  max-width: 150rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 0; }
    @media only screen and (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media only screen and (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media only screen and (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media only screen and (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

nav {
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #a03232;
  width: 100%;
  z-index: 100;
  border-bottom: 2px solid #ffffff; }
  nav a,
  nav a:link,
  nav a:visited {
    color: #fffeb8; }

.logo {
  color: #fffeb8;
  letter-spacing: 1px;
  font-size: 3rem; }

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 40%; }

.nav-links li {
  list-style: none; }

.nav-links a {
  color: #fffeb8;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.4rem; }

.burger {
  display: none; }

.burger div {
  width: 25px;
  height: 3px;
  background-color: #fffeb8;
  margin: 5px;
  transition: all 0.3s ease-in; }

@media screen and (max-width: 1024px) {
  .nav-links {
    display: flex;
    justify-content: space-around;
    width: 60%; } }

@media screen and (max-width: 678px) {
  body {
    overflow-x: hidden; }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #a03232;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in; }
  .nav-links li {
    opacity: 0; }
  .burger {
    display: block;
    cursor: pointer; } }

.nav-active {
  transform: translateX(0%); }

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px); }
  to {
    opacity: 1;
    transform: translateX(0px); } }

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px); }

.toggle .line2 {
  opacity: 0; }

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px); }
