.about {
  margin-top: 4rem;
  display: inline-flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;

  &__heading {
    font-size: $heading-font-size;
    color: $color-primary;
    padding: 4rem;
    text-align: center;
  }

  &__image {
    display: block;
    margin: 1rem;
    border: 1px solid $color-black;
    border-radius: 5px;
    -webkit-box-shadow: $box-shadow;
    -moz-box-shadow: $box-shadow;
    box-shadow: $box-shadow;
    align-self: center;
    width: 80%;

    @include respond(tab-port) {
      width: 100%;
      margin-bottom: 1.5rem;
      box-shadow: none;
    }
  }

  &__content {
    padding: 5rem;
    align-self: center;
    font-size: 2rem;
    width: 80%;
    text-align: center;
    color: $color-primary;
    font-family: sans-serif;
    margin: 1rem;

    @include respond(tab-port) {
      width: 100%;
    }
  }
}
