.contact {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  height: 100vh;
  background-image: linear-gradient(
    to right bottom,
    rgba($color-secondary, 0.8),
    rgba($color-secondary-dark, 0.8)
  );
  background-size: cover;
  background-position: top;

  &__content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-bottom: 5rem;
    margin-bottom: 5rem;

    @include respond(tab-port) {
      flex-direction: column;
    }
  }

  &__heading {
    width: 100%;
    text-align: center;
    font-size: $heading-font-size;
    color: $color-primary;
    margin: 1rem auto;
  }
  &__image {
    width: 50%;
    @include respond(tab-port) {
      width: 100%;
    }

    &--map {
      border: 1rem solid $color-primary;
      width: 100%;
      transform: scale(0.8);

      @include respond(tab-port) {
        margin: 2rem auto 0;
      }
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding: 2rem;
    margin: 2rem auto;
    font-size: $default-font-size;
    text-align: left;
    line-height: 3.5rem;
    transform: translateY(4.5rem);
    font-family: sans-serif;

    ul {
      list-style: none;
    }

    span {
      color: $color-primary;
      text-decoration: underline;
    }

    @include respond(tab-port) {
      width: 80%;

      font-size: $sub-heading-font-size;
      line-height: 4rem;
      text-align: center;
      padding: 1rem;
      margin-bottom: 1rem;
    }

    @include respond(phone) {
      width: 100%;
      margin-top: 2rem;

      font-size: $default-font-size;
      padding: 1rem;
      text-align: center;
    }
    &--phone {
    }

    &--email {
    }

    &--hours {
      list-style: none;
      padding: 1rem 0;
      &-1 {
      }
      &-2 {
      }
      &-3 {
      }
    }

    &--address {
    }

    &--icon {
      color: $color-primary;
      font-size: 4rem;
      padding: 1rem;
    }

    &--facebook {
      width: 100%;
      display: flex;
      flex-direction: row;
      color: $color-primary;
      line-height: 1.5rem;
      align-content: center;
      margin: 0 auto;
      padding: 1rem 5rem;

      p {
        align-self: center;
      }
    }
  }
}
