.gift-ideas {
  display: flex;
  max-width: 100%;
  background-color: $color-background-grey;
  margin: 0 auto;
  flex-direction: column;

  padding: 1rem 15rem 7rem;

  &__header {
    margin-top: 10rem;
    margin-bottom: 3rem;
    font-size: $heading-font-size;
    color: $color-primary;
    text-align: center;
    padding: 3rem;
  }

  &__box {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  }

  @include respond(phone) {
    padding: 0;
  }
}

.gift-idea,
.gift-idea a {
  float: left;
  width: 33.3333%;
  margin-bottom: 6rem;
  grid-template-columns: repeat(auto-fit, 1fr);
  display: grid;
  grid-row-gap: 1.5rem;
  grid-column-gap: 2.5rem;
  padding: 2rem;

  @supports (display: grid) {
    width: auto;
    margin-bottom: 0;
  }

  @include respond(phone) {
    align-self: center;
  }

  &__icon {
    color: $color-primary;
    font-size: 7.5rem;
    grid-row: 1 / span 1;
    transform: translateY(-1rem);
    margin: 0 auto;
  }

  &__text {
    font-size: 1.5rem;
    text-align: center;
    color: $color-primary;
    text-decoration: none;
    font-family: sans-serif;
  }

  &__heading {
    color: $color-primary;
    font-size: $sub-heading-font-size;
    text-align: center;
    padding: 0.5rem;
  }

  &:hover {
    cursor: pointer;
  }
}
