.parallax {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-secondary, 0.8),
      rgba($color-secondary-dark, 0.8)
    ),
    url("../../img/Interior-1.jpeg");
  margin-bottom: 0;

  @include respond(tab-port) {
    min-width: 90vw;
  }

  &--bg-fixed {
    min-height: 100vh;
    background-attachment: fixed;
  }

  &__info {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    text-align: center;
    margin: 10rem auto;
    color: $color-primary;
    width: 40%;
  }

  &__heading {
    font-size: $heading-font-size;

    @include respond(tab-port) {
      margin: 5rem 2rem;
    }
  }

  &__content {
    font-family: sans-serif;
  }

  &__pictures {
    margin-top: 1rem;
  }

  &__btn {
    width: 100%;
  }
}
