.pitch {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 8rem;

  @include respond(tab-port) {
    flex-direction: column;
    align-items: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding: 5rem;
  }

  &__img {
    padding: 1rem;
    max-width: 50%;
    border: 0.1rem solid $color-black;
    -webkit-box-shadow: 8px 9px 12px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 8px 9px 12px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 8px 9px 12px -5px rgba(0, 0, 0, 0.75);
    margin: 2rem;

    @include respond(phone) {
      scale: 2;
      padding: 0.5rem;
    }
  }

  &__header {
    margin: auto 2rem;
    color: $color-primary;
    font-size: $heading-font-size;

    @include respond(tab-port) {
      text-align: center;
      padding-top: 10rem;
    }
  }

  &__paragraph {
    margin: auto 2rem;
    // text-align: center;
    font-size: $default-font-size;
    color: $color-primary;
    width: 100%;
    font-family: sans-serif;

    @include respond(tab-port) {
      margin: 1rem auto;
      font-size: $sub-heading-font-size;
    }
  }
}
